site_name: weather tools
site_description: personal collection of functions for common weather data operations
site_author: harryeslick
repo_url: https://harryeslick.github.io/weather_tools/

theme:
    name: material
    icon:
        repo: fontawesome/brands/github
    # logo: assets/logo.png
    # favicon: assets/favicon.png
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.tabs
        - navigation.top
        - search.highlight
        - search.share

    # font:
    #     text: Google Sans
    #     code: Regular
    
plugins:
    - search
    - mkdocstrings
    # - mermaid2
    - git-revision-date
    # - page-to-pdf
    # - pdf-export
    - mkdocs-jupyter:
        kernel_name: python3
        include_source: True
        ignore_h1_titles: True
        execute: false
        allow_errors: false
        remove_tag_config:
            remove_input_tags:
                - hide_code
        ignore:
          - "**/old/**"
        execute_ignore:
          - "**/old/**"

markdown_extensions:
    - admonition
    - abbr
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - toc:
          permalink: true

nav:
  - Home: index.md
  - CLI Reference: cli.md
  - Changelog: CHANGELOG.md
  - API Reference:
        - SILO API: silo_api.md
        - Met.no API: metno_api.md
        - Met.no Models: metno_models.md
        - Merge Weather Data: merge_weather_data.md
        - Local NetCDF: api_docs/read_silo.md
  - Examples:
      - Map of SILO stations: notebooks/map_patchedPoint_sites.ipynb
      - Local NetCDF: notebooks/example.ipynb
      - Plotting: notebooks/example_plots.ipynb
      - SILO API: notebooks/silo_api_examples.ipynb
      - Forecast data: notebooks/metno_forecast_example.ipynb

extra_javascript:
  - https://cdn.plot.ly/plotly-2.32.0.min.js

extra_css:
  - style.css
